---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:runwaylab/issue-db%20label:issue-db
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<JWT_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1753910423'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest","status":"401"}'
  recorded_at: Mon, 01 Jan 2024 08:00:00 GMT
recorded_with: VCR 6.3.1
