---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Adding a comment"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a2f67d378abfd1ab03f26901390cbc6f5165e51b1d1f66862e4440a3d61afb83"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      Location:
      - https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453924325
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4726'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '274'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453924325","html_url":"https://github.com/monalisa/octo-awesome/issues/1#issuecomment-2453924325","issue_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1","id":2453924325,"node_id":"IC_kwDONKEJ686SQ-nl","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?u=18b9b6f7ee2de076c1c0074edf2ea641143c329f&v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"created_at":"2024-11-04T06:42:05Z","updated_at":"2024-11-04T06:42:05Z","author_association":"OWNER","body":"Adding
        a comment","reactions":{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453924325/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}'
  recorded_at: Mon, 04 Nov 2024 06:42:06 GMT
recorded_with: VCR 6.3.1
