---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues
    body:
      encoding: UTF-8
      string: '{"labels":[],"title":"New issue title","body":"New issue body"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"748b187eb624c40fcd3e4be6752fe27787a00b04002b5146b190c84b98413714"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      Location:
      - https://api.github.com/repos/monalisa/octo-awesome/issues/7
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4730'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '270'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/7","repository_url":"https://api.github.com/repos/monalisa/octo-awesome","labels_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/7/labels{/name}","comments_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/7/comments","events_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/7/events","html_url":"https://github.com/monalisa/octo-awesome/issues/7","id":2631972982,"node_id":"I_kwDONKEJ686c4Lh2","number":7,"title":"New
        issue title","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2024-11-04T06:42:03Z","updated_at":"2024-11-04T06:42:03Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"body":"New
        issue body","closed_by":null,"reactions":{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/7/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/7/timeline","performed_via_github_app":null,"state_reason":null}'
  recorded_at: Mon, 04 Nov 2024 06:42:03 GMT
recorded_with: VCR 6.3.1
