---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"This comment will be deleted"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2f2bff00ca0e54aaa2cee53cca8f673625b0f6ea303f189969f3243a72277945"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      Location:
      - https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453931129
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4693'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '307'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453931129","html_url":"https://github.com/monalisa/octo-awesome/issues/1#issuecomment-2453931129","issue_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1","id":2453931129,"node_id":"IC_kwDONKEJ686SRAR5","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?u=18b9b6f7ee2de076c1c0074edf2ea641143c329f&v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"created_at":"2024-11-04T06:48:33Z","updated_at":"2024-11-04T06:48:33Z","author_association":"OWNER","body":"This
        comment will be deleted","reactions":{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453931129/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}'
  recorded_at: Mon, 04 Nov 2024 06:48:33 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453931129
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4692'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '308'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Nov 2024 06:48:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues/1/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ead1fbcc6984ee703ab300612b7db83c571d87928b3ff8e0338e97f757d382e"
  [...]
