---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4737'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '263'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"used":263,"remaining":4737,"reset":1730703213},"search":{"limit":30,"used":0,"remaining":30,"reset":1730702581},"graphql":{"limit":5000,"used":39,"remaining":4961,"reset":1730704073},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1730706121},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1730702581},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1730706121},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1730706121},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1730706121},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1730702581},"audit_log":{"limit":1750,"used":0,"remaining":1750,"reset":1730706121},"audit_log_streaming":{"limit":15,"used":0,"remaining":15,"reset":1730706121},"code_search":{"limit":10,"used":0,"remaining":10,"reset":1730702581}},"rate":{"limit":5000,"used":263,"remaining":4737,"reset":1730703213}}'
  recorded_at: Mon, 04 Nov 2024 06:42:01 GMT
recorded_with: VCR 6.3.1
