---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues?per_page=100&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b421ed93f2e51632a9be91a58c3a2ac86ad514cc2190636ee8892ec30b9cf5ef"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4737'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '263'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/6","repository_url":"https://api.github.com/repos/monalisa/octo-awesome","labels_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/6/comments","events_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/6/events","html_url":"https://github.com/monalisa/octo-awesome/issues/6","id":2631968618,"node_id":"I_kwDONKEJ686c4Kdq","number":6,"title":"New
        issue title","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2024-11-04T06:38:37Z","updated_at":"2024-11-04T06:38:37Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"body":"New
        issue body","closed_by":null,"reactions":{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/6/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/6/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1","repository_url":"https://api.github.com/repos/monalisa/octo-awesome","labels_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/comments","events_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/events","html_url":"https://github.com/monalisa/octo-awesome/issues/1","id":2631944933,"node_id":"I_kwDONK[...]
