---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93e57292788e5afa7bd3c31ae41afc501549ce94ae19ff2583190c3900782c2e"
      Last-Modified:
      - Mon, 04 Nov 2024 06:42:02 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4731'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '269'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1","repository_url":"https://api.github.com/repos/monalisa/octo-awesome","labels_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/comments","events_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/events","html_url":"https://github.com/monalisa/octo-awesome/issues/1","id":2631944933,"node_id":"I_kwDONKEJ686c4Erl","number":1,"title":"hello
        world","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"labels":[{"id":7697365882,"node_id":"LA_kwDONKEJ688AAAABysx7eg","url":"https://api.github.com/repos/monalisa/octo-awesome/labels/wontfix","name":"wontfix","color":"ffffff","default":true,"description":"This
        will not be worked on"}],"state":"closed","locked":false,"assignee":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"assignees":[{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true}],"milestone":null,"comments":6,"created_at":"2024-11-04T06:20:31Z","updated_at":"2024-11-04T06:42:02Z","closed_at":"2024-11-04T06:42:02Z","author_association":"OWNER","active_lock_reason":null,"body":"asdf
        ","closed_by":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"reactions":{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1/timeline","performed_via_github_app":null,"state_reason":"completed"}'
  recorded_at: Mon, 04 Nov 2024 06:42:03 GMT
recorded_with: VCR 6.3.1
