---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/monalisa/octo-awesome/labels?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e2006221189d32f26a04f5c2ba63392ad2e9eab5066c1fca386f675131ed8bf"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:55:22 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1730706834'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7697365828,"node_id":"LA_kwDONKEJ688AAAABysx7RA","url":"https://api.github.com/repos/monalisa/octo-awesome/labels/bug","name":"bug","color":"d73a4a","default":true,"description":"Something
        isn''t working"},{"id":7697365834,"node_id":"LA_kwDONKEJ688AAAABysx7Sg","url":"https://api.github.com/repos/monalisa/octo-awesome/labels/documentation","name":"documentation","color":"0075ca","default":true,"description":"Improvements
        or additions to documentation"},{"id":7697365841,"node_id":"LA_kwDONKEJ688AAAABysx7UQ","url":"https://api.github.com/repos/monalisa/octo-awesome/labels/duplicate","name":"duplicate","color":"cfd3d7","default":true,"description":"This
    [...]
