---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/monalisa/octo-awesome/issues/1/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ead1fbcc6984ee703ab300612b7db83c571d87928b3ff8e0338e97f757d382e"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2024-11-11 06:22:05 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4695'
      X-Ratelimit-Reset:
      - '1730703213'
      X-Ratelimit-Used:
      - '305'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453907304","html_url":"https://github.com/monalisa/octo-awesome/issues/1#issuecomment-2453907304","issue_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1","id":2453907304,"node_id":"IC_kwDONKEJ686SQ6do","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/monalisa","html_url":"https://github.com/monalisa","followers_url":"https://api.github.com/users/monalisa/followers","following_url":"https://api.github.com/users/monalisa/following{/other_user}","gists_url":"https://api.github.com/users/monalisa/gists{/gist_id}","starred_url":"https://api.github.com/users/monalisa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/monalisa/subscriptions","organizations_url":"https://api.github.com/users/monalisa/orgs","repos_url":"https://api.github.com/users/monalisa/repos","events_url":"https://api.github.com/users/monalisa/events{/privacy}","received_events_url":"https://api.github.com/users/monalisa/received_events","type":"User","user_view_type":"public","site_admin":true},"created_at":"2024-11-04T06:25:48Z","updated_at":"2024-11-04T06:25:48Z","author_association":"OWNER","body":"Reopening
        this issue","reactions":{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453907304/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/monalisa/octo-awesome/issues/comments/2453907310","html_url":"https://github.com/monalisa/octo-awesome/issues/1#issuecomment-2453907310","issue_url":"https://api.github.com/repos/monalisa/octo-awesome/issues/1","id":2453907310,"node_id":"IC_kwDONKEJ686SQ6du","user":{"login":"monalisa","id":23362539,"node_id":"MDQ6VXNlcjIzMzYyNTM5","avatar_url":"https://avatars.githubusercontent.com/u/23362539?v=4","gravatar_id":"","url":"https://api.github.com/users/mon[...]
