---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/456/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<JWT_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"A JSON web token could not be decoded","documentation_url":"https://docs.github.com/rest","status":"401"}'
  recorded_at: Wed, 30 Jul 2025 21:11:42 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/app/installations/456/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<JWT_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"A JSON web token could not be decoded","documentation_url":"https://docs.github.com/rest","status":"401"}'
  recorded_at: Wed, 30 Jul 2025 21:11:59 GMT
recorded_with: VCR 6.3.1
