name: acceptance

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  acceptance:
    name: acceptance
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # pin@v1.268.0
        with:
          bundler-cache: false

      - name: bootstrap
        run: script/bootstrap

      - name: acceptance
        env:
          ISSUE_DB_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ENV: acceptance
        run: script/acceptance
